<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendanceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceApp"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".Ui.LeavingActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.InFoActivity"
            android:exported="true" />
        <activity
            android:name=".Ui.InProgresActivity"
            android:exported="true" />
        <activity
            android:name=".Ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Ui.HomeMain"
            android:exported="true" />
        <activity
            android:name=".Ui.CreateAcc"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>